.pageNavigation {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--text-sm);
    color: var(--text-default-color);
    gap: 10px;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.pageInput{
    display: flex;
    gap: 10px;
}

.pageInput input {
    width: 50px;
    font-size: var(--text-sm);
    text-align: center;
    border: 1px solid var(--divider-color);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--background-color-1);
    color: var(--text-default-color);
    outline: none;
    transition: border-color 0.3s ease;
}

.pageInput input:focus {
    border-color: var(--input-active-color)
}

.pageButtons {
    display: flex;
    gap: 10px;
}

.pageInput button,
.pageButtons button {
    width: max-content;
    font-size: var(--text-sm);
    text-align: center;
    border: 1px solid var(--divider-color);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--background-color-1);
    color: var(--text-default-color);
    outline: none;
    transition: border-color 0.3s ease;
}

.pageInput button:hover,
.pageButtons button:hover {
    border-color: var(--input-active-color)
}

.pageButtons button.active {
    border-color: var(--input-active-color)
}

.pageSum {
    font-size: var(--text-sm);
    color: var(--text-default-color);
}

@media (max-width:860px) {
    .pageNavigation {
        flex-direction: column;
    }

    .pageNavigation {
        width: 100%;
        font-size: var(--text-sm);
        color: var(--text-default-color);
        gap: 10px;
    }
}