/*
 * 主题的全局颜色样式
*/

:root {
    --background-color-1: #ffffff;
    --background-color-2: #f5f5f5;
    --divider-color: #e6e6e6;
    --section-background-color: #e6e6e6;
    --section-active-color: #000000;
    --section-default-color: #afafaf;

    --text-default-color: #000000;
    --text-light-color: #666666;

    --text-link-color: #1890ff;

    --input-active-color: #1890ff;

    --card-icon-background-color: #cccccc;
}

[data-theme="dark"] {
    --background-color-1: #2d2d2d;
    --background-color-2: #424242;
    --divider-color: #4b4b4b;
    --section-background-color: #2e2e2e;
    --section-active-color: #aaaaaa;
    --section-default-color: #777777;

    --text-default-color: #aaaaaa;
    --text-light-color: #777777;

    --text-link-color: #1890ff;

    --input-active-color: #1890ff;

    --card-icon-background-color: #444444;
}