.view-container {
    width: calc(100% - 40px);
    height: 100%;
}

.view-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px;
    width: 100%;
}

.view-header {
    padding: 20px;
    display: flex;
    border-bottom: solid 1px var(--divider-color);
    user-select: none;
}

.view-header .title {
    color: var(--text-default-color);
    opacity: 0;
    transform: translate(-100px);
    animation: slide 0.3s ease forwards;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}